{%- if collection.description != blank -%}
    {%- assign size_unit = section.settings.font_scale | times: 1.0 -%}
    {%- assign size_unit = size_unit | divided_by: 100 -%}

    {%- capture Content -%}
        <div class="#rte" style="--font-size: {{ size_unit }}rem;">
            {%- if section.settings.show_collection_title -%}
                <h1>{{ collection.title }}</h1>
            {%- endif -%}    
            {{ collection.description }}
        </div>
    {%- endcapture -%}

    {% render 'section-body',
        content: Content,
        spaced: true,
        container: true
    %}
{%- endif -%}

{% schema %}
{
    "name": "Collection description",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_collection_title",
            "label": "Show collection title",
            "default": false
        },
        {
            "type": "range",
            "id": "font_scale",
            "label": "Font scale",
            "min": 100,
            "step": 5,
            "max": 150,
            "unit": "%",
            "default": 100
        }
    ],
    "presets": [
        {
            "name": "Collection description"
        }
    ],
    "templates": ["collection"]
}
{% endschema %}