{%- liquid
    assign position = section.settings.text_position | split: '-'
    assign text_y = position[0]
    assign text_x = position[1]
    assign buttons_block = section.blocks | where: 'type', 'buttons' | first
    assign f_button_link = buttons_block.settings.f_button_link
    if buttons_block.settings.f_button_label == blank and buttons_block.settings.s_button_label == blank
        assign stretched_link = true
    endif
    assign hide_mobile_buttons = buttons_block.settings.mobile_hidden
    if section.settings.section_layout
        assign section_spaced = true
        assign section_curved = true
    endif 
    assign video_height = section.settings.height | append: 'vh'

    assign video = section.settings.hosted_video | default: section.settings.embedded_video

    assign mobile_position = section.settings.mobile_caption_display
    assign use_box = section.settings.use_box
-%}

{%- if mobile_position == 'offset' and use_box == false -%}
    {%- assign mobile_box = true -%}
{%- endif -%}

{%- capture Hero_text -%}
    {% render 'hero', 
        blocks: section.blocks,
        width: section.settings.width,
        align: text_x,
        size: section.settings.size,
        auto_colors: true,
        box: use_box,
        mobile_box: mobile_box,
        hide_mobile_buttons: hide_mobile_buttons
    %}
{%- endcapture -%}

{%- capture Background_video -%}
    {%- render 'background-video',
        video: video,
        height: video_height,
        display_desktop_only: section.settings.display_desktop_only
    -%}
{%- endcapture -%}

{%- capture Caption -%}
    {% render 'floating-content',
        content: Hero_text,
        absolute: true,
        x: text_x,
        y: text_y,
        mobile_position: mobile_position,
        container: true,
        padded: true
    %}
    
    {%- if f_button_link -%}
        {%- if stretched_link -%}
            <a class="stretched-link" href="{{ f_button_link }}"></a>
        {%- elsif hide_mobile_buttons -%}
            <a class="stretched-link desktop-hidden" href="{{ f_button_link }}"></a>
        {%- endif -%}
    {%- endif -%}
{%- endcapture -%}

{%- capture Content -%}
    <div class="rel">
        {% render 'media',
            image: section.settings.image,
            image_mobile: section.settings.mobile_image,
            placeholder: 'lifestyle',
            overlay: section.settings.overlay,
            content: Background_video,
            type: 'height',
            height: '100%'
        %}
        {{ Caption }}
    </div>
{%- endcapture -%}

{% render 'section-body',
    content: Content,
    container: section.settings.section_layout,
    spaced: section_spaced,
    curved: section_curved
%}

{% schema %}
{
    "name": "Hero background video",
    "settings": [
        {
            "type": "select",
            "id": "section_layout",
            "label": "t:g.section.layout.label",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full",
                    "label": "Full width"
                }
            ],
            "default": "full"
        },
        {
            "type": "video_url",
            "id": "embedded_video",
            "accept": ["vimeo", "youtube"],
            "label": "t:g.media.video.url",
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
            "type": "video",
            "id": "hosted_video",
            "label": "A Store-hosted video",
            "info": "Store-hosted video will be a priority to video URL"
        },
        {
            "type": "range",
            "id": "height",
            "label": "t:g.media.video.height",
            "min": 50,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 64
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:g.media.video.cover_image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "t:g.media.mobile_image",
            "info": "t:g.common.optional"
        },
        {
            "type": "checkbox",
            "id": "display_desktop_only",
            "label": "Display image instead of the video on the mobile devices",
            "default": false
        },
        {
            "type": "select",
            "id": "mobile_image_size",
            "label": "t:g.media.image_size.mobile_label",
            "options": [
                {
                    "value": "9x16",
                    "label": "t:g.media.image_size.options.instagram"
                },
                {
                    "value": "4x5",
                    "label": "t:g.media.image_size.options.facebook"
                },
                {
                    "value": "full",
                    "label": "t:g.media.image_size.options.full"
                },
                {
                    "value": "xl",
                    "label": "t:g.media.image_size.options.xl"
                },
                {
                    "value": "lg",
                    "label": "t:g.media.image_size.options.lg"
                },
                {
                    "value": "md",
                    "label": "t:g.media.image_size.options.md"
                },
                {
                    "value": "sm",
                    "label": "t:g.media.image_size.options.sm"
                },
                {
                    "value": "origin",
                    "label": "t:g.media.image_size.options.origin"
                }
            ],
            "default": "9x16"
        },
        {
            "type": "range",
            "id": "overlay",
            "label": "t:g.media.video.overlay",
            "min": 0,
            "max": 90,
            "step": 1,
            "unit": "%",
            "default": 50
        },
        {
            "type": "header",
            "content": "t:g.common.caption"
        },
        {
            "type": "checkbox",
            "id": "use_box",
            "label": "t:g.hero.use_box"
        },
        {
            "type": "range",
            "id": "width",
            "min": 10,
            "max": 100,
            "step": 5,
            "unit": "%",
            "label": "t:g.hero.caption.width",
            "default": 50
        },
        {
            "type": "select",
            "id": "size",
            "label": "t:g.hero.caption.text_size",
            "options": [
                {
                    "value": "sm",
                    "label": "t:g.common.sizes.sm"
                },
                {
                    "value": "md",
                    "label": "t:g.common.sizes.md"
                },
                {
                    "value": "lg",
                    "label": "t:g.common.sizes.lg"
                },
                {
                    "value": "xl",
                    "label": "t:g.common.sizes.xl"
                }
            ],
            "default": "md"
        },
        {
            "type": "select",
            "id": "text_position",
            "label": "t:g.hero.caption.position.label",
            "options": [
              {
                "value": "top-left",
                "label": "t:g.hero.caption.position.options.x0y0"
              },
              {
                "value": "top-center",
                "label": "t:g.hero.caption.position.options.x0y1"
              },
              {
                "value": "top-right",
                "label": "t:g.hero.caption.position.options.x0y2"
              },
              {
                "value": "center-left",
                "label": "t:g.hero.caption.position.options.x1y0"
              },
              {
                "value": "center-center",
                "label": "t:g.hero.caption.position.options.x1y1"
              },
              {
                "value": "center-right",
                "label": "t:g.hero.caption.position.options.x1y2"
              },
              {
                "value": "bottom-left",
                "label": "t:g.hero.caption.position.options.x2y0"
              },
              {
                "value": "bottom-center",
                "label": "t:g.hero.caption.position.options.x2y1"
              },
              {
                "value": "bottom-right",
                "label": "t:g.hero.caption.position.options.x2y2"
              }
            ],
            "default": "center-center"
        },
        {
            "type": "select",
            "id": "mobile_caption_display",
            "label": "Mobile caption display",
            "options": [
                {
                    "value": "desktop",
                    "label": "Same as desktop"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                },
                {
                    "value": "offset",
                    "label": "Offset"
                }
            ],
            "default": "offset"
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "t:g.hero.heading.name",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:g.hero.heading.label",
                    "default": "Video Heading"
                },
                {
                    "type": "checkbox",
                    "id": "heading_accent_enable",
                    "label": "t:g.hero.heading.accent.enable",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "heading_accent_use_cutom_color",
                    "label": "t:g.hero.heading.accent.use_custom_color"
                },
                {
                    "type": "color",
                    "id": "heading_accent_color",
                    "label": "t:g.hero.heading.accent.color",
                    "default": "#e22d00"
                }
            ]
        },
        {
            "type": "subheading",
            "name": "t:g.hero.subheading.name",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "t:g.hero.subheading.label",
                    "default": "Video Subheading"
                }
            ]
        },
        {
            "type": "text",
            "name": "t:g.hero.text.name",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:g.hero.text.label",
                    "default": "<p>Give customers details about the video or content on the template.</p>"
                }
            ]
        },
        {
            "type": "timer",
            "name": "Countdown",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "date",
                    "label": "End date",
                    "info": "Format: mm-dd-yyyy",
                    "default": "04-03-2024"
                },
                {
                    "type": "checkbox",
                    "id": "hide_on_complete",
                    "label": "Hide timer on complete"
                },
                {
                    "type": "checkbox",
                    "id": "display_titles",
                    "label": "Display titles",
                    "default": true,
                    "info": "Titles will be displayed unless the section text size is 'small'"
                }
            ]
        },
        {
            "type": "buttons",
            "name": "t:g.hero.buttons.name",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "t:g.hero.buttons.area_link_note"
                },
                {
                    "type": "checkbox",
                    "id": "mobile_hidden",
                    "label": "t:g.hero.buttons.mobile_hidden.label",
                    "info": "t:g.hero.buttons.mobile_hidden.info"
                },
                {
                    "type": "header",
                    "content": "t:g.hero.buttons.first.header" 
                },
                {
                    "type": "text",
                    "id": "f_button_label",
                    "label": "t:g.hero.buttons.first.label"
                },
                {
                    "type": "url",
                    "id": "f_button_link",
                    "label": "t:g.hero.buttons.first.link"
                },
                {
                    "type": "select",
                    "id": "f_button_style",
                    "label": "t:g.hero.buttons.first.style",
                    "options": [
                        {
                            "value": "normal",
                            "label": "t:g.common.button_styles.normal"
                        },
                        {
                            "value": "outline",
                            "label": "t:g.common.button_styles.outline"
                        },
                        {
                            "value": "link",
                            "label": "t:g.common.button_styles.link"
                        }
                    ],
                    "default": "normal"
                },
                {
                    "type": "checkbox",
                    "id": "f_button_custom_colors",
                    "label": "t:g.hero.buttons.first.custom_colors"
                },
                {
                    "type": "color",
                    "id": "f_button_bg_color",
                    "label": "t:g.common.custom_colors.bg",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "f_button_text_color",
                    "label": "t:g.common.custom_colors.text",
                    "default": "#ffffff"
                },
                {
                    "type": "header",
                    "content": "t:g.hero.buttons.second.header" 
                },
                {
                    "type": "text",
                    "id": "s_button_label",
                    "label": "t:g.hero.buttons.second.label"
                },
                {
                    "type": "url",
                    "id": "s_button_link",
                    "label": "t:g.hero.buttons.second.link"
                },
                {
                    "type": "select",
                    "id": "s_button_style",
                    "label": "t:g.hero.buttons.second.style",
                    "options": [
                        {
                            "value": "normal",
                            "label": "t:g.common.button_styles.normal"
                        },
                        {
                            "value": "outline",
                            "label": "t:g.common.button_styles.outline"
                        },
                        {
                            "value": "link",
                            "label": "t:g.common.button_styles.link"
                        }
                    ],
                    "default": "normal"
                },
                {
                    "type": "checkbox",
                    "id": "s_button_custom_colors",
                    "label": "t:g.hero.buttons.second.custom_colors"
                },
                {
                    "type": "color",
                    "id": "s_button_bg_color",
                    "label": "t:g.common.custom_colors.bg",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "s_button_text_color",
                    "label": "t:g.common.custom_colors.text",
                    "default": "#ffffff"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Hero background video",
            "blocks": [
                {
                    "type": "subheading",
                    "settings": {
                        "subheading": "Subheading"
                    }
                },
                {
                    "type": "heading",
                    "settings": {
                        "heading": "Hero Image Heading"
                    }
                },
                {
                    "type": "text",
                    "settings": {
                        "text": "<p>Give customers details about the hero image or content on the template.</p>"
                    }
                },
                {
                    "type": "buttons",
                    "settings": {
                        "f_button_label": "Shop Now"
                    }
                }
            ]
        }
    ]
}
{% endschema %}