{%- capture Content -%}
    <div class="#rte @text-align:{{ section.settings.text_align }}" style="--font-size: {{ section.settings.font_scale | divided_by: 100.0 }}rem;">
        {{ section.settings.page.content }}
    </div>
{%- endcapture -%}

{% render 'section-body',
    content: Content,
    heading: section.settings.page.title,
    container: section.settings.section_layout,
    spaced: true
%}

{% schema %}
{
    "name": "Page content",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
        {
            "type": "select",
            "id": "section_layout",
            "label": "t:g.section.layout.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:g.section.layout.options.default"
                },
                {
                    "value": "narrow",
                    "label": "t:g.section.layout.options.narrow"
                },
                {
                    "value": "x-narrow",
                    "label": "t:g.section.layout.options.x-narrow"
                }
            ],
            "default": "default"
        },
        {
            "type": "page",
            "id": "page",
            "label": "Page"
        },
        {
            "type": "range",
            "id": "font_scale",
            "label": "Text scale",
            "min": 100,
            "step": 5,
            "max": 150,
            "unit": "%",
            "default": 100
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "t:g.common.text_align.label",
             "options": [
                {
                    "value": "left",
                    "label": "t:g.common.text_align.left"
                },
                {
                    "value": "center",
                    "label": "t:g.common.text_align.center"
                },
                {
                    "value": "right",
                    "label": "t:g.common.text_align.right"
                }
            ],
            "default": "center"
        }
    ],
    "presets": [
        {
            "name": "Page content"
        }
    ]
}
{% endschema %}
