{%- if product -%}      
    <template data-card-slide>
        <div class="swiper-slide">
            {% render 'product-card',
                product: product
            %}
        </div>
    </template>
{%- endif -%}
