.accent-title {
  padding: 0 0.25em;
  margin: 0 -0.25em;
  background: linear-gradient(90deg, transparent 0%, rgba(251, 207, 0, 0.5) 15%, rgba(251, 207, 0, 0.5) 85%, transparent 100%);
  background-position: 0 0.6em;
  background-size: 100% 30%;
  background-repeat: repeat-x;
  display: inline;
}