@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.\#cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.2rem;
  right: -0.5rem;
  background: var(--color);
  height: 1.3225rem;
  min-width: 1.3225rem;
  font-size: 0.8695652174rem;
  border-radius: 50%;
  font-weight: var(--font-body-weight-bold);
  color: white;
  padding: 2px;
}
.\#cart-counter.\!animate {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}