.\#collection-card {
  --offset: 0rem;
  position: relative;
}
.\#collection-card.\@rounded {
  border-radius: 50% !important;
}
.\#collection-card.\@rounded .\#collection-card-image {
  border-radius: 50% !important;
}
.\#collection-card.\@frame {
  --offset: 0.5rem;
}
.\#collection-card.\@frame .\#collection-card-image {
  border: 0.5rem solid var(--color-g-fg);
}
.\#collection-card.\@inner-caption {
  border-radius: var(--border-radius-base);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.\#collection-card-image {
  border-radius: var(--border-radius-base);
  overflow: hidden;
  background: var(--color-g-fg);
}
.\#collection-card-caption.\@position\:center, .\#collection-card-caption.\@position\:left {
  margin-top: min(2vw, 1rem);
}
.\#collection-card-caption.\@position\:center {
  text-align: center;
}
.\#collection-card-caption.\@position\:inner-bottom-left, .\#collection-card-caption.\@position\:inner-bottom-center, .\#collection-card-caption.\@position\:inner-left, .\#collection-card-caption.\@position\:inner-center {
  position: absolute;
  color: var(--color-g-fg);
  padding: calc(var(--offset) + min(2vw, 1rem));
  z-index: 2;
  width: fit-content;
}
.\#collection-card-caption.\@position\:inner-bottom-left {
  bottom: 0;
  left: 0;
}
.\#collection-card-caption.\@position\:inner-bottom-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
}
.\#collection-card-caption.\@position\:inner-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.\#collection-card-caption.\@position\:inner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.\#collection-card-title {
  margin-bottom: 0;
}
.\#collection-card-title.\@text-bg {
  padding: 0.5rem 0.7rem;
  border-radius: var(--border-radius-inner);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: var(--color-g-text-alpha-10) 0 1rem 2rem -1.5rem, var(--color-g-text-alpha-30) 0 0.5rem 2rem -1rem;
  color: var(--color-g-text);
}