.stretched-link, .\#floating-content-wrapper.\@absolute, html.js .\#media-image-loading, .\#media-placeholder, .\#media-overlay, .\#media-link, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-image, .\#media-image-mobile {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  line-height: var(--line-height-base);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}

iframe {
  border: 0;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.stretched-link, .\#floating-content-wrapper.\@absolute, html.js .\#media-image-loading, .\#media-placeholder, .\#media-overlay, .\#media-link, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-image, .\#media-image-mobile {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#container {
  --width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width);
  width: 100%;
  padding-left: var(--container-spacer);
  padding-right: var(--container-spacer);
}
.\#container.\@width\:wide {
  max-width: none;
}
.\#container.\@width\:full {
  max-width: none;
  padding: 0;
}
.\#container.\@width\:narrow {
  --width: calc(var(--container-width) * 0.8);
}
.\#container.\@width\:x-narrow {
  --width: calc(var(--container-width) * 0.64);
}
@media (min-width: 992px) {
  .\#container.\@width\:offset-left {
    max-width: none;
    width: auto;
    margin-left: calc((100vw - min(var(--container-width), 100vw) + var(--container-spacer) * 2) / 2);
    margin-right: 0;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .\#container.\@width\:offset-right {
    max-width: none;
    width: auto;
    margin-right: calc((100vw - min(var(--container-width), 100vw) + var(--container-spacer) * 2) / 2);
    margin-left: 0;
    padding: 0;
  }
}

.stretched-link, .\#floating-content-wrapper.\@absolute, html.js .\#media-image-loading, .\#media-placeholder, .\#media-overlay, .\#media-link, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-image, .\#media-image-mobile {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  font-size: clamp(14px, 1.65vmin * var(--font-scale), 1vw);
}

h6, h5, h4, h3, h2, h1 {
  font-weight: bold;
  line-height: 1.2;
}

body {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: 1rem;
  line-height: 1.4;
}

.heading-font {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
}

.text-danger,
.color-danger {
  color: var(--color-g-danger);
}
.text-success,
.color-success {
  color: var(--color-g-success);
}
.text-warning,
.color-warning {
  color: var(--color-g-warning);
}

.styled-link {
  color: var(--color-g-text);
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.fs-small {
  font-size: 0.7561436673rem;
}

.gap-small {
  --gap: 0.7561436673rem !important;
}

.fs-h6 {
  font-size: 0.8695652174rem;
}

.gap-h6 {
  --gap: 0.8695652174rem !important;
}

.fs-body {
  font-size: 1rem;
}

.gap-body {
  --gap: 1rem !important;
}

.fs-h5 {
  font-size: 1.15rem;
}

.gap-h5 {
  --gap: 1.15rem !important;
}

.fs-h4 {
  font-size: 1.3225rem;
}

.gap-h4 {
  --gap: 1.3225rem !important;
}

.fs-h3 {
  font-size: 1.520875rem;
}

.gap-h3 {
  --gap: 1.520875rem !important;
}

.fs-h2 {
  font-size: 1.74900625rem;
}

.gap-h2 {
  --gap: 1.74900625rem !important;
}

.fs-h1 {
  font-size: 2.0113571875rem;
}

.gap-h1 {
  --gap: 2.0113571875rem !important;
}

.fs-d5 {
  font-size: 2.3130607656rem;
}

.gap-d5 {
  --gap: 2.3130607656rem !important;
}

.fs-d4 {
  font-size: 2.6600198805rem;
}

.gap-d4 {
  --gap: 2.6600198805rem !important;
}

.fs-d3 {
  font-size: 3.0590228625rem;
}

.gap-d3 {
  --gap: 3.0590228625rem !important;
}

.fs-d2 {
  font-size: 3.5178762919rem;
}

.gap-d2 {
  --gap: 3.5178762919rem !important;
}

.fs-d1 {
  font-size: 4.0455577357rem;
}

.gap-d1 {
  --gap: 4.0455577357rem !important;
}

.fs-d0 {
  font-size: 4.6523913961rem;
}

.gap-d0 {
  --gap: 4.6523913961rem !important;
}

.fs-d00 {
  font-size: 5.3502501055rem;
}

.gap-d00 {
  --gap: 5.3502501055rem !important;
}

h1 {
  font-size: 2.0113571875rem;
}

h2 {
  font-size: 1.74900625rem;
}

h3 {
  font-size: 1.520875rem;
}

h4 {
  font-size: 1.3225rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.8695652174rem;
}

.text-center {
  text-align: center;
}

.stretched-link, .\#floating-content-wrapper.\@absolute, html.js .\#media-image-loading, .\#media-placeholder, .\#media-overlay, .\#media-link, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-image, .\#media-image-mobile {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#grid {
  --gap: var(--glob-gutter);
  --template: auto;
  --columns: 3;
  --columns-mobile: 1;
  --span-def: 4;
  --span-base: 12;
  --use-columns: var(--columns);
  --use-template: var(--template);
  --use-gap: var(--gap);
  gap: var(--use-gap);
}
@media (max-width: 991px) {
  .\#grid {
    --use-columns: var(--columns-mobile, var(--columns));
    --use-template: var(--template-mobile, var(--template));
    --use-gap: var(--gap-mobile, var(--gap));
  }
}
.\#grid.\@outer-gap {
  padding: var(--use-gap);
}
@media (max-width: 991px) {
  .\#grid.\@outer-gap-mobile {
    padding: var(--use-gap);
  }
}
@media (max-width: 991px) {
  .\#grid.\@outer-gap-mobile\:x {
    padding-left: var(--use-gap);
    padding-right: var(--use-gap);
  }
}
@media (max-width: 991px) {
  .\#grid.\@outer-gap-mobile\:y {
    padding-top: var(--use-gap);
    padding-bottom: var(--use-gap);
  }
}
.\#grid.\@outer-gap\:x {
  padding-left: var(--use-gap);
  padding-right: var(--use-gap);
}
.\#grid.\@outer-gap\:y {
  padding-top: var(--use-gap);
  padding-bottom: var(--use-gap);
}
.\#grid.\@type\:columns {
  display: flex;
  flex-wrap: wrap;
}
.\#grid.\@type\:columns > * {
  flex: 0 1 calc(100% / var(--use-columns) - (var(--use-gap) - 1 / var(--use-columns) * var(--use-gap)));
}
.\#grid.\@type\:template {
  display: grid;
  grid-template: auto/var(--use-template);
}
.\#grid.\@type\:span {
  display: grid;
  grid-template-columns: repeat(var(--span-base), 1fr);
}
.\#grid.\@type\:span > * {
  --use-span: var(--span);
  grid-column: span var(--use-span, var(--span-def));
}
@media (max-width: 991px) {
  .\#grid.\@type\:span > * {
    --use-span: var(--span-mobile, var(--span));
  }
}

.stretched-link, .\#floating-content-wrapper.\@absolute, html.js .\#media-image-loading, .\#media-placeholder, .\#media-overlay, .\#media-link, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-image, .\#media-image-mobile {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#flex {
  --gap: 1rem;
  --use-gap: var(--gap);
  display: flex;
  gap: var(--gap);
}
@media (max-width: 991px) {
  .\#flex {
    --use-gap: var(--gap-mobile, var(--gap));
  }
}
.\#flex.\@wrap {
  flex-wrap: wrap;
}
.\#flex.\@column {
  flex-direction: column;
}

.stretched-link, .\#floating-content-wrapper.\@absolute, html.js .\#media-image-loading, .\#media-placeholder, .\#media-overlay, .\#media-link, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-image, .\#media-image-mobile {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#media {
  --ar-padding: 100%;
  --image-position: center;
  --image-fit: cover;
  --height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.\#media.\@rounded {
  border-radius: 50%;
}
.\#media.\@border-radius\:base {
  border-radius: 1.125rem;
}
.\#media.\@border-radius\:inner {
  border-radius: 0.7rem;
}
.\#media.\@border-radius\:sm {
  border-radius: 0.25rem;
}
@media (min-width: 992px) {
  .\#media.\@icon-hover-opacity .\#media-icon {
    opacity: 0.6;
  }
  .\#media.\@icon-hover-opacity .\#media-icon:hover {
    opacity: 1;
  }
}
.\#media.\@type\:ar {
  height: auto;
}
.\#media.\@type\:ar:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: var(--ar-padding);
}
.\#media.\@type\:abs {
  height: var(--height);
}
.\#media.\@type\:auto {
  height: auto;
}
@media (max-width: 991px) {
  .\#media.\@type-mobile\:ar {
    height: auto;
  }
  .\#media.\@type-mobile\:ar:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: var(--ar-padding-mobile, var(--ar-padding));
  }
  .\#media.\@type-mobile\:abs {
    height: var(--height-mobile, var(--height));
  }
  .\#media.\@type-mobile\:auto {
    height: auto;
  }
  .\#media.\@type-mobile\:auto:before {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .\#media.\@mobile-image .\#media-image-mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .\#media.\@mobile-image .\#media-image {
    display: none;
  }
}
.\#media-image, .\#media-image-mobile {
  object-fit: var(--image-fit);
  object-position: var(--image-position);
  z-index: 2;
}
.\#media-image.\@cover, .\#media-image-mobile.\@cover {
  min-height: 100%;
}
.\#media-link {
  display: block;
  z-index: 4;
}
.\#media-overlay {
  --value: 0;
  background-color: rgba(0, 0, 0, var(--value));
  z-index: 3;
}
.\#media-placeholder {
  background: #b3b3b3;
}
.\#media-placeholder > svg {
  opacity: 0.3;
  height: inherit;
  width: 100%;
}
html.js .\#media-image.\@animate-loading, html.js .\#media-image-mobile.\@animate-loading {
  opacity: 0;
  transition: 0.3s;
}
html.js .\#media-image.\@animate-loading[loaded], html.js .\#media-image-mobile.\@animate-loading[loaded] {
  opacity: 1;
}
html.js .\#media-image.\@animate-loading[loaded] ~ .\#media-image-loading, html.js .\#media-image-mobile.\@animate-loading[loaded] ~ .\#media-image-loading {
  display: none;
}
html.js .\#media-image-loading {
  z-index: 1;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(199, 199, 199) 50%, rgb(255, 255, 255) 100%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: placeHolderShimmer 1.5s infinite linear forwards;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.\#media-icon {
  --icon-color: var(--color-g-fg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--icon-color);
}

.stretched-link, .\#floating-content-wrapper.\@absolute, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#section-body {
  --bg-color: transparent;
  --content-bg-color: transparent;
  --text-color: inherit;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.\#section-body.\@spaced {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.\#section-body.\@inner-spaced {
  padding-block: 4rem;
}
.\#section-body-header {
  margin-bottom: 1.5rem;
}
.\#section-body-content {
  background-color: var(--content-bg-color);
}
.\#section-body-wrapper.\@curved {
  overflow: hidden;
  border-radius: var(--border-radius-base);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.\#section-body-wrapper.\@curved\:left {
  overflow: hidden;
}
@media (min-width: 992px) {
  .\#section-body-wrapper.\@curved\:left {
    border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
  }
}
@media (max-width: 991px) {
  .\#section-body-wrapper.\@curved\:left {
    border-radius: var(--border-radius-base);
  }
}
.\#section-body-wrapper.\@curved\:right {
  overflow: hidden;
}
@media (min-width: 992px) {
  .\#section-body-wrapper.\@curved\:right {
    border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
  }
}
@media (max-width: 991px) {
  .\#section-body-wrapper.\@curved\:right {
    border-radius: var(--border-radius-base);
  }
}
.\#section-body-button {
  z-index: 10;
  position: relative;
  margin: 1.5rem 0;
}
.\#section-body-button.\@align\:center {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .\#section-body-header-inner.\@align-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .\#section-body-header-inner.\@align-button .\#section-body-button {
    margin: 0;
  }
}

.stretched-link, .\#floating-content-wrapper.\@absolute, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#hero {
  --fs: 1rem;
  --width: 100%;
  --text-color: inherit;
  --bg-color: transparent;
  --gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  font-size: var(--fs);
  overflow-wrap: break-word;
  color: var(--text-color);
}
@media (max-width: 991px) {
  .\#hero {
    color: var(--mobile-text-color, var(--text-color));
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .\#hero {
    width: min(100%, var(--width));
  }
}
.\#hero.\@outer-gap {
  border: var(--gap) solid transparent;
}
.\#hero.\@box\:small {
  padding: 0.7561436673rem;
}
.\#hero.\@box\:h6 {
  padding: 0.8695652174rem;
}
.\#hero.\@box\:body {
  padding: 1rem;
}
.\#hero.\@box\:h5 {
  padding: 1.15rem;
}
.\#hero.\@box\:h4 {
  padding: 1.3225rem;
}
.\#hero.\@box\:h3 {
  padding: 1.520875rem;
}
.\#hero.\@box\:h2 {
  padding: 1.74900625rem;
}
.\#hero.\@box\:h1 {
  padding: 2.0113571875rem;
}
.\#hero.\@box\:d5 {
  padding: 2.3130607656rem;
}
.\#hero.\@box\:d4 {
  padding: 2.6600198805rem;
}
.\#hero.\@box\:d3 {
  padding: 3.0590228625rem;
}
.\#hero.\@box\:d2 {
  padding: 3.5178762919rem;
}
.\#hero.\@box\:d1 {
  padding: 4.0455577357rem;
}
.\#hero.\@box\:d0 {
  padding: 4.6523913961rem;
}
.\#hero.\@box\:d00 {
  padding: 5.3502501055rem;
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:small {
    padding: 0.7561436673rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:h6 {
    padding: 0.8695652174rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:body {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:h5 {
    padding: 1.15rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:h4 {
    padding: 1.3225rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:h3 {
    padding: 1.520875rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:h2 {
    padding: 1.74900625rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:h1 {
    padding: 2.0113571875rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:d5 {
    padding: 2.3130607656rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:d4 {
    padding: 2.6600198805rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:d3 {
    padding: 3.0590228625rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:d2 {
    padding: 3.5178762919rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:d1 {
    padding: 4.0455577357rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:d0 {
    padding: 4.6523913961rem;
  }
}
@media (max-width: 991px) {
  .\#hero.\@mobile-box\:d00 {
    padding: 5.3502501055rem;
  }
}
.\#hero.\@align\:left {
  text-align: left;
}
.\#hero.\@align\:left .\#countdown-timer-item-time {
  margin-left: 0;
}
.\#hero.\@align\:center {
  text-align: center;
}
.\#hero.\@align\:center .\#hero-image,
.\#hero.\@align\:center .\#hero-icon,
.\#hero.\@align\:center .\#hero-video-popup {
  margin-left: auto;
  margin-right: auto;
}
.\#hero.\@align\:center .\#hero-buttons {
  justify-content: center;
}
.\#hero.\@align\:center .\#countdown-timer-items {
  justify-content: center;
}
.\#hero.\@align\:right {
  text-align: right;
}
.\#hero.\@align\:right .\#hero-image,
.\#hero.\@align\:right .\#hero-icon,
.\#hero.\@align\:right .\#hero-video-popup {
  margin-left: auto;
}
.\#hero.\@align\:right .\#hero-buttons {
  justify-content: flex-end;
}
.\#hero.\@align\:right .\#countdown-timer-items {
  justify-content: end;
}
@media (max-width: 991px) {
  .\#hero.\@mobile-center:not(.\@align\:center) {
    text-align: center;
  }
  .\#hero.\@mobile-center:not(.\@align\:center) .\#hero-image,
.\#hero.\@mobile-center:not(.\@align\:center) .\#hero-icon,
.\#hero.\@mobile-center:not(.\@align\:center) .\#hero-video-popup {
    margin-left: auto;
    margin-right: auto;
  }
  .\#hero.\@mobile-center:not(.\@align\:center) .\#hero-buttons {
    justify-content: center;
  }
}
.\#hero-heading {
  margin: 0;
  line-height: 1;
}
.\#hero-subheading {
  opacity: 0.64;
  margin: 0;
  line-height: 1;
}
.\#hero-text {
  opacity: 0.8;
}
.\#hero-buttons {
  margin-top: calc(var(--gap) * 0.33);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap);
}
.\#hero-image {
  --width: 70%;
  width: var(--width);
}
.\#hero-icon {
  --color: inherit;
  width: fit-content;
}
.\#hero-icon .\#icon {
  color: var(--color);
  --size: 1em;
}

.\#hero.\@box\:small, .\#hero.\@box\:h6, .\#hero.\@box\:body, .\#hero.\@box\:h5, .\#hero.\@box\:h4, .\#hero.\@box\:h3, .\#hero.\@box\:h2, .\#hero.\@box\:h1, .\#hero.\@box\:d5, .\#hero.\@box\:d4, .\#hero.\@box\:d3, .\#hero.\@box\:d2, .\#hero.\@box\:d1, .\#hero.\@box\:d0, .\#hero.\@box\:d00 {
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius-base);
  height: max-content;
}
@media (max-width: 991px) {
  .\#hero.\@box\:small, .\#hero.\@box\:h6, .\#hero.\@box\:body, .\#hero.\@box\:h5, .\#hero.\@box\:h4, .\#hero.\@box\:h3, .\#hero.\@box\:h2, .\#hero.\@box\:h1, .\#hero.\@box\:d5, .\#hero.\@box\:d4, .\#hero.\@box\:d3, .\#hero.\@box\:d2, .\#hero.\@box\:d1, .\#hero.\@box\:d0, .\#hero.\@box\:d00 {
    padding: 1.5rem !important;
  }
}

@media (max-width: 991px) {
  .\#hero.\@mobile-box\:small, .\#hero.\@mobile-box\:h6, .\#hero.\@mobile-box\:body, .\#hero.\@mobile-box\:h5, .\#hero.\@mobile-box\:h4, .\#hero.\@mobile-box\:h3, .\#hero.\@mobile-box\:h2, .\#hero.\@mobile-box\:h1, .\#hero.\@mobile-box\:d5, .\#hero.\@mobile-box\:d4, .\#hero.\@mobile-box\:d3, .\#hero.\@mobile-box\:d2, .\#hero.\@mobile-box\:d1, .\#hero.\@mobile-box\:d0, .\#hero.\@mobile-box\:d00 {
    padding: 1.5rem;
    background-color: var(--mobile-bg-color, var(--bg-color));
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius-base);
    height: max-content;
  }
}
.stretched-link, .\#floating-content-wrapper.\@absolute, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#floating-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.\#floating-content.\@padded {
  padding: 2rem;
}
.\#floating-content.\@container {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  .\#floating-content.\@mobile-bottom {
    align-items: flex-end !important;
    justify-content: center !important;
  }
}
.\#floating-content.\@x\:center {
  justify-content: center;
}
.\#floating-content.\@x\:right {
  justify-content: flex-end;
}
.\#floating-content.\@y\:center {
  align-items: center;
}
.\#floating-content.\@y\:bottom {
  align-items: flex-end;
}
.\#floating-content-wrapper {
  z-index: 10;
  position: relative;
  height: 100%;
}
@media (max-width: 991px) {
  .\#floating-content-wrapper.\@mobile-position\:offset {
    position: relative !important;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  .\#floating-content-wrapper.\@mobile-position\:offset .\#icon {
    color: #000;
  }
  .\#floating-content-wrapper.\@mobile-position\:offset .\#floating-content {
    padding: 0;
  }
  .\#floating-content-wrapper.\@mobile-position\:bottom .\#floating-content {
    align-items: flex-end !important;
    justify-content: center !important;
  }
}
.\#floating-content-wrapper.\@absolute {
  z-index: 10;
}
.\#floating-content-wrapper > .\#container {
  height: 100%;
}

.stretched-link, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading, .\#floating-content-wrapper.\@absolute {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#rte-block {
  line-height: 1.4;
}
.\#rte-block img, .\#rte-block video, .\#rte-block iframe {
  max-width: 100%;
}
.\#rte-block > p {
  margin-bottom: 0.5em;
}
.\#rte-block > p:last-child {
  margin-bottom: 0;
}
.\#rte-block.\@upcase {
  text-transform: uppercase;
}
.\#rte-block a {
  color: inherit;
}

.\#rte {
  --font-size: 1rem;
  font-size: var(--font-size);
}
.\#rte h6, .\#rte h5, .\#rte h4, .\#rte h3, .\#rte h2, .\#rte h1 {
  margin-bottom: 0.5em;
}
.\#rte p {
  margin-bottom: 1em;
}
.\#rte a {
  color: inherit;
}
.\#rte img, .\#rte video, .\#rte iframe {
  max-width: 100%;
  border-radius: var(--border-radius-inner);
}
.\#rte blockquote {
  font-style: italic;
  font-size: 1.15em;
}
.\#rte.\@text-align\:left {
  text-align: left;
}
.\#rte.\@text-align\:center {
  text-align: center;
}
.\#rte.\@text-align\:right {
  text-align: right;
}
.\#rte h1 {
  font-size: 2.0113571875em;
}
.\#rte h2 {
  font-size: 1.74900625em;
}
.\#rte h3 {
  font-size: 1.520875em;
}
.\#rte h4 {
  font-size: 1.3225em;
}
.\#rte h5 {
  font-size: 1.15em;
}
.\#rte h6 {
  font-size: 0.8695652174em;
}

.stretched-link, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading, .\#floating-content-wrapper.\@absolute {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#icon {
  --size: 1.7rem;
  display: flex;
  color: inherit;
  fill: currentColor;
  width: var(--size);
  height: var(--size);
  vertical-align: top;
}

load-icon {
  display: contents;
}

.stretched-link, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading, .\#floating-content-wrapper.\@absolute {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#accent-text {
  padding: 0 0.25em;
  margin: 0 -0.25em;
  background: var(--accent);
  background-position: 0 0.6em;
  background-size: 100% 30%;
  background-repeat: repeat-x;
  display: inline;
}

.stretched-link, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading, .\#floating-content-wrapper.\@absolute {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#button {
  --text-color: var(--color-g-button-text);
  --bg-color: var(--color-g-button-bg);
  --bg-gradient: var(--color-g-button-bg-gradient);
  --bg-hover-color: var(--color-g-button-bg-hover);
  --l1-shadow-color: var(--color-g-button-shadow-l1);
  --l2-shadow-color: var(--color-g-button-shadow-l2);
  --l3-shadow-color: var(--color-g-button-shadow-l3);
  padding: 0.95em 1.75em;
  border-radius: 2em;
}

.\#button {
  transition: var(--transition-base);
  cursor: pointer;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  user-select: none;
  display: inline-block;
  border: none;
  position: relative;
  overflow: hidden;
}

.\#button {
  font-size: 1.15rem;
}
.\#button:not(.heading-font) {
  font-weight: var(--font-body-weight-bold);
}

.\@size\:h6.\#button {
  font-size: 0.8695652174rem;
}
.\@size\:body.\#button {
  font-size: 1rem;
}
.\@size\:h5.\#button {
  font-size: 1.15rem;
}
.\@size\:h4.\#button {
  font-size: 1.3225rem;
}
.\@size\:h3.\#button {
  font-size: 1.520875rem;
}
.\@size\:h2.\#button {
  font-size: 1.74900625rem;
}
.\@size\:h1.\#button {
  font-size: 2.0113571875rem;
}
.\@size\:d5.\#button {
  font-size: 2.3130607656rem;
}

.\@block.\#button {
  display: block;
  width: 100%;
}

.\@display-style\:normal.\#button {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.\@display-style\:normal.\#button:hover {
  background-color: var(--bg-hover-color);
}
.\@display-style\:gradient.\#button {
  background: var(--bg-color);
  color: var(--text-color);
  z-index: 1;
}
.\@display-style\:gradient.\#button:hover:before {
  opacity: 0;
}
.\@display-style\:gradient.\#button:before {
  transition: opacity var(--transition-base);
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  font-size: inherit;
  box-shadow: inherit;
  background: radial-gradient(at top, var(--bg-gradient) 0%, var(--bg-color) 90%);
  z-index: -1;
}
.\@display-style\:outline.\#button {
  background: none;
  color: var(--bg-color);
  border: 0.1em solid var(--bg-color);
}
.\@display-style\:outline.\#button:hover {
  color: var(--text-color);
  background-color: var(--bg-color);
}
.\@display-style\:link.\#button {
  padding: 0;
  color: var(--bg-color);
  background: none;
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.25em;
  border-radius: 0;
  overflow: visible;
}
.\@display-style\:link.\#button:hover {
  opacity: 1;
}

.\@shadow.\@display-style\:normal.\#button, .\@shadow.\@display-style\:gradient.\#button {
  box-shadow: var(--l1-shadow-color) 0 0.15em 0.3em, var(--l2-shadow-color) 0 0.3em 0.6em -0.15em, var(--l3-shadow-color) 0 -0.15em 0 inset;
}

.\!loading.\#button {
  color: transparent;
  pointer-events: none;
}
.\!loading.\#button .\#spinner {
  opacity: 1;
}
.\#button .\#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-base);
  --color: var(--text-color);
  --size: 0.4rem;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

body product-dynamic-checkout {
  display: block;
  padding-top: 1rem;
}
body .shopify-payment-button__button--unbranded {
  font-weight: var(--font-body-weight-bold);
  border-radius: 2em;
  font-size: 1.5rem;
  padding: 1.1em 1.75em;
  background-color: var(--color-g-button-buy-it-now-bg);
  color: var(--color-g-button-buy-it-now-text);
}
body .shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: var(--color-g-button-buy-it-now-bg-hover);
}
body .shopify-payment-button__button--branded .shopify-cleanslate [role=button] {
  font-weight: var(--font-body-weight-bold);
  border-radius: 2em;
  font-size: 1.5rem;
  padding: 1.4em 1.75em !important;
}
body .shopify-payment-button__button--hidden {
  display: none;
}
body .dynamic-checkout__content [data-shopify-buttoncontainer=true][role=list] > li {
  flex-basis: auto !important;
  width: 100%;
}
body .dynamic-checkout__content [data-shopify-buttoncontainer=true][role=list] > li [role=button] {
  border-radius: 2em !important;
  font-size: 1.1rem !important;
  padding: 1.4em 1.75em !important;
  width: 100% !important;
}

.stretched-link, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading, .\#floating-content-wrapper.\@absolute {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#price {
  margin: 0;
}
.\#price-item-heading {
  line-height: 1;
}
.\#price-item-value {
  margin: 0;
  line-height: 1;
}
.\#price-item.\@compare .\#price-value {
  text-decoration: line-through;
  opacity: 0.64;
}

.stretched-link, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading, .\#floating-content-wrapper.\@absolute {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow-1 {
  box-shadow: var(--color-g-text-alpha-10) 0 1rem 2rem -1.5rem, var(--color-g-text-alpha-30) 0 0.5rem 2rem -1rem;
}

@media (max-width: 991px) {
  .mobile-shadow-1 {
    box-shadow: var(--color-g-text-alpha-10) 0 1rem 2rem -1.5rem, var(--color-g-text-alpha-30) 0 0.5rem 2rem -1rem;
  }
}
.shadow-2, .shadow-hover-child-2-3, .shadow-hover-2-3 {
  box-shadow: var(--color-g-text-alpha-10) 0 3.125rem 6.25rem -1.25rem, var(--color-g-text-alpha-30) 0 1.875rem 3.75rem -1.875rem;
}

@media (max-width: 991px) {
  .mobile-shadow-2 {
    box-shadow: var(--color-g-text-alpha-10) 0 3.125rem 6.25rem -1.25rem, var(--color-g-text-alpha-30) 0 1.875rem 3.75rem -1.875rem;
  }
}
.shadow-3 {
  box-shadow: var(--color-g-text-alpha-30) 0 3.125rem 6.25rem -1rem, var(--color-g-text-alpha-40) 0 1.875rem 2.75rem -1rem;
}

@media (max-width: 991px) {
  .mobile-shadow-3 {
    box-shadow: var(--color-g-text-alpha-30) 0 3.125rem 6.25rem -1rem, var(--color-g-text-alpha-40) 0 1.875rem 2.75rem -1rem;
  }
}
.shadow-4 {
  box-shadow: var(--color-g-text-alpha-60) 0 2rem 5rem 0.5rem, var(--color-g-text-alpha-80) 0 1.875rem 3.75rem -1.875rem;
}

@media (max-width: 991px) {
  .mobile-shadow-4 {
    box-shadow: var(--color-g-text-alpha-60) 0 2rem 5rem 0.5rem, var(--color-g-text-alpha-80) 0 1.875rem 3.75rem -1.875rem;
  }
}
.shadow-hover-2-3 {
  transition: var(--transition-base);
  transition-property: transform, box-shadow;
  backface-visibility: hidden;
}
@media (hover: hover) and (pointer: fine) {
  .shadow-hover-2-3:hover {
    box-shadow: var(--color-g-text-alpha-30) 0 3.125rem 6.25rem -1rem, var(--color-g-text-alpha-40) 0 1.875rem 2.75rem -1rem;
    transform: translateY(-10px);
  }
}

.shadow-hover-child-2-3 {
  transition: var(--transition-base);
  transition-property: transform, box-shadow;
  backface-visibility: hidden;
}

@media (hover: hover) and (pointer: fine) {
  .shadow-hover-parent:hover .shadow-hover-child-2-3 {
    transform: translateY(-10px);
    box-shadow: var(--color-g-text-alpha-30) 0 3.125rem 6.25rem -1rem, var(--color-g-text-alpha-40) 0 1.875rem 2.75rem -1rem;
  }
}

.stretched-link, .\#media-image, .\#media-image-mobile, .\#media-image-wrapper, .\#media-image-mobile-wrapper, .\#media-link, .\#media-overlay, .\#media-placeholder, html.js .\#media-image-loading, .\#floating-content-wrapper.\@absolute {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.\#media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.\#form-field-label {
  display: block;
  font-size: 0.9em;
  opacity: 0.85;
  margin-bottom: 0.3em;
}
.\#form-field-input {
  width: 100%;
  font-size: inherit;
  resize: none;
  font-family: inherit;
  display: block;
  padding: 0.75em;
  border: 2px solid #b3b3b3;
  background-color: var(--color-g-fg);
  border-radius: 0.4rem;
}
.\#form-field-input:focus {
  border-color: var(--color-g-accent);
  outline: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.shopify-section {
  display: unset;
}

.stretched-link {
  --z: 20;
  display: block;
  text-indent: -9999px;
  z-index: var(--z);
  white-space: nowrap;
}

.reset-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.reset-link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

body {
  background-color: var(--color-g-bg);
  color: var(--color-g-text);
}

.no-scroll,
.scroll-lock {
  overflow: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (min-width: 992px) {
  .desktop-hidden {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .mobile-hidden {
    display: none !important;
  }
}

.rel {
  position: relative;
}

html:not(.js) .js-only {
  display: none;
}

.load-hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.mb0 {
  margin-bottom: 0;
}

.unstyled-link {
  text-decoration: none !important;
  color: inherit;
}

@media (max-width: 991px) {
  .mob-first-item {
    grid-row: 1;
  }
}
.gutter-spacer {
  width: var(--glob-gutter);
  height: 0;
  overflow: hidden;
}