.\#drop-down {
  display: block;
  position: relative;
}
.\#drop-down.\!open .\#drop-down-menu {
  display: block;
}
.\#drop-down-toggle {
  cursor: pointer;
}
.\#drop-down-menu {
  position: absolute;
  z-index: 99;
}
.\#drop-down-menu.\@position\:bottom-center {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.\#drop-down-menu.\@position\:top-center {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.\#drop-down-select {
  display: none;
}
@media (max-width: 991px) {
  .\#drop-down-menu {
    display: none;
  }
  .\#drop-down-select {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    opacity: 0;
  }
}