.\#faq {
  display: flex;
  flex-direction: column;
  gap: min(1vh, 1rem);
}
.\#faq-item {
  background-color: var(--color-g-fg);
  box-shadow: var(--color-g-text-alpha-10) 0 3.125rem 6.25rem -1.25rem, var(--color-g-text-alpha-30) 0 1.875rem 3.75rem -1.875rem;
  border-radius: var(--border-radius-base);
}
.\#faq-item > summary {
  cursor: pointer;
  list-style: none;
}
.\#faq-item > summary::marker, .\#faq-item > summary::-webkit-details-marker {
  display: none;
}
.\#faq-item[open] {
  position: relative;
  z-index: 1;
}
.\#faq-item[open] .\#faq-item-indicator {
  transform: rotate(180deg);
}
.\#faq-item-header {
  padding: min(3vw, 1.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.\#faq-item-heading {
  margin-bottom: 0;
  font-size: 1.3225rem;
  display: flex;
  align-items: center;
  gap: min(2vw, 0.75rem);
}
.\#faq-item-icon .\#icon {
  --size: 1.2rem;
}
.\#faq-item-indicator {
  pointer-events: none;
  opacity: 0.8;
}
.\#faq-item-indicator .\#icon {
  --size: 1.3rem;
}
.\#faq-item-body {
  padding: min(3vw, 1.5rem);
  padding-top: min(1.5vw, 0.5rem);
  font-size: 1.15rem;
}