.\#page-header {
  position: relative;
}
.\#page-header-media {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.\#page-header-body {
  position: relative;
  z-index: 2;
}
.\#page-header.\@center .\#breadcrumbs {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.\#page-header.\@center .\#hero {
  margin-left: auto;
  margin-right: auto;
}
.\#page-header.\@image-padding\:sm {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.\#page-header.\@image-padding\:md {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.\#page-header.\@image-padding\:lg {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.\#page-header.\@image-padding\:xl {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.\#page-header.\@type\:image {
  color: var(--color-g-fg);
}
.\#page-header.\@type\:no-image {
  margin-top: 4rem;
  margin-bottom: 4rem;
}