.\#password {
  display: flex;
  position: relative;
  min-height: calc(100vh - var(--password-header-height) - var(--password-footer-height));
}
.\#password-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.\#password .\#floating-content-wrapper {
  flex-grow: 1;
  height: auto;
}
@media (max-width: 991px) {
  .\#password .\#floating-content-wrapper {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .\#password .\#hero {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .\#password .\#hero-newsletter-input {
    max-width: calc(100% - 3em);
  }
}