.\#password-header {
  display: flex;
  align-items: center;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.\#password-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.\#password-header-logo {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.\#password-header-login-link {
  display: flex;
  align-items: center;
  opacity: 0.8;
  transition: var(--transition-base);
  cursor: pointer;
  gap: 0.7em;
}
.\#password-header-login-link:hover {
  opacity: 1;
}
.\#password-header-login-link .\#icon {
  --size: 1em;
}
@media (max-width: 991px) {
  .\#password-header-login-link .\#icon {
    --size: 1.3em;
  }
}
.\#password-header-login-modal {
  border-radius: var(--border-radius-base);
  background-color: var(--color-g-fg);
  padding: min(5vw, 2rem);
  width: min(95vw, 400px);
}
.\#password-header-login-modal-heading {
  margin-bottom: 1rem;
}
.\#password-header-login-modal .\#button {
  margin-top: 1rem;
}