.\#password-footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
@media (max-width: 991px) {
  .\#password-footer {
    flex-direction: column;
  }
}
.\#password-footer-text {
  display: flex;
  align-items: center;
}
.\#password-footer-text svg {
  height: 1.5rem;
}
.\#password-footer-text a {
  margin-left: 0.5rem;
  color: inherit;
}
@media (max-width: 991px) {
  .\#password-footer-text {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.\#password-footer .\#social-profiles {
  --gap: 1.5rem;
}
@media (max-width: 991px) {
  .\#password-footer .\#social-profiles {
    justify-content: center;
  }
}