.\#product-options-dropdown {
  display: block;
  position: relative;
}
.\#product-options-dropdown .\#drop-down.\!open .\#product-options-dropdown-toggle {
  border-color: var(--color-g-accent);
}
.\#product-options-dropdown .\#drop-down-menu {
  width: 100%;
  z-index: 5;
}
.\#product-options-dropdown-toggle {
  font-size: 1.15rem;
  background-color: var(--color-g-fg);
  padding: 0.8rem 1rem;
  border: 2px solid var(--color-g-fg-d20);
  border-radius: var(--border-radius-inner);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
.\#product-options-dropdown-toggle-caret .\#icon {
  --size: 1rem;
}
.\#product-options-dropdown-menu {
  border-radius: var(--border-radius-inner);
  background-color: var(--color-g-fg);
  margin-top: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.1) 0 50px 100px -20px, rgba(0, 0, 0, 0.15) 0 30px 60px -30px;
  max-height: 60vh;
  overflow-y: auto;
}
.\#product-options-dropdown-item {
  display: block;
  font-size: 1.15rem;
  cursor: pointer;
}
.\#product-options-dropdown-item:not(:last-child) {
  border-bottom: 1px solid #ededed;
}
.\#product-options-dropdown-item-input:checked + .\#product-options-dropdown-item-body .\#product-options-dropdown-item-value {
  font-weight: var(--font-body-weight-bold);
}
.\#product-options-dropdown-item-input.\!unavailable + .\#product-options-dropdown-item-body {
  opacity: 0.4;
}
.\#product-options-dropdown-item-input.\!unavailable + .\#product-options-dropdown-item-body .\#product-options-dropdown-item-unavailable {
  display: inline;
}
.\#product-options-dropdown-item-input.\!sold-out:checked + .\#product-options-dropdown-item-body {
  opacity: 1;
}
.\#product-options-dropdown-item-input.\!sold-out:checked + .\#product-options-dropdown-item-body .\#product-options-dropdown-item-sold-out {
  display: none;
}
.\#product-options-dropdown-item-input.\!sold-out + .\#product-options-dropdown-item-body {
  opacity: 0.4;
}
.\#product-options-dropdown-item-input.\!sold-out + .\#product-options-dropdown-item-body .\#product-options-dropdown-item-sold-out {
  display: inline;
}
.\#product-options-dropdown-item-body {
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.\#product-options-dropdown-item-value {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.\#product-options-dropdown-item-value-stock-alert {
  font-size: 0.9rem;
  background-color: var(--color-g-warning);
  font-weight: var(--font-body-weight-bold);
  color: var(--color-g-fg);
  border-radius: 0.3rem;
  width: fit-content;
  padding: 0.1rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.\#product-options-dropdown-item-media {
  width: 60px;
}
.\#product-options-dropdown-item-unavailable {
  display: none;
}
.\#product-options-dropdown-item-sold-out {
  display: none;
}
.\#product-options-dropdown-a11y-select {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: none;
  text-indent: -9999px;
  appearance: none;
  pointer-events: none;
  border: none;
}
@media (max-width: 991px) {
  .\#product-options-dropdown-a11y-select {
    display: none;
  }
}