.\#product-feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.\#product-feature-heading {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.\#product-feature-subheading {
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.05rem;
  opacity: 0.8;
}
.\#product-feature-icon .\#icon {
  --size: 2.7rem;
}