.\#product-quick-view {
  max-height: 90vh;
  overflow-y: auto;
  padding: 3rem;
  border-radius: var(--border-radius-base);
  background: var(--color-g-bg);
}
.\#product-quick-view .\#product-media {
  top: 0;
}
.\#product-quick-view-product-link {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.25rem;
}