.\#tabs-nav-items {
  z-index: 9;
  position: relative;
  margin-bottom: 1.25rem;
  display: flex;
  gap: 1.5rem;
}
@media (min-width: 992px) {
  .\#tabs-nav-items.\@center {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .\#tabs-nav-items {
    overflow-x: auto;
  }
}
.\#tabs-nav-item {
  flex-shrink: 0;
  transition: var(--transition-base);
  cursor: pointer;
}
.\#tabs-nav-item .\#accent-text {
  transition: background-color var(--transition-base);
}
.\#tabs-nav-item:not(.\!active) {
  opacity: 0.64;
}
.\#tabs-nav-item:not(.\!active) .\#accent-text {
  background: transparent;
}
.\#tabs-pane-input {
  display: none;
}
.\#tabs-pane-input:checked + .\#tabs-pane-content {
  display: block;
}
.\#tabs-pane-content {
  display: none;
}