:root {
  font-size: clamp(14px, 1.65vmin * var(--font-scale), 1vw);
}

h6, h5, h4, h3, h2, h1 {
  font-weight: bold;
  line-height: 1.2;
}

body {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: 1rem;
  line-height: 1.4;
}

.heading-font {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
}

.text-danger,
.color-danger {
  color: var(--color-g-danger);
}
.text-success,
.color-success {
  color: var(--color-g-success);
}
.text-warning,
.color-warning {
  color: var(--color-g-warning);
}

.styled-link {
  color: var(--color-g-text);
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.fs-small {
  font-size: 0.7561436673rem;
}

.gap-small {
  --gap: 0.7561436673rem !important;
}

.fs-h6 {
  font-size: 0.8695652174rem;
}

.gap-h6 {
  --gap: 0.8695652174rem !important;
}

.fs-body {
  font-size: 1rem;
}

.gap-body {
  --gap: 1rem !important;
}

.fs-h5 {
  font-size: 1.15rem;
}

.gap-h5 {
  --gap: 1.15rem !important;
}

.fs-h4 {
  font-size: 1.3225rem;
}

.gap-h4 {
  --gap: 1.3225rem !important;
}

.fs-h3 {
  font-size: 1.520875rem;
}

.gap-h3 {
  --gap: 1.520875rem !important;
}

.fs-h2 {
  font-size: 1.74900625rem;
}

.gap-h2 {
  --gap: 1.74900625rem !important;
}

.fs-h1 {
  font-size: 2.0113571875rem;
}

.gap-h1 {
  --gap: 2.0113571875rem !important;
}

.fs-d5 {
  font-size: 2.3130607656rem;
}

.gap-d5 {
  --gap: 2.3130607656rem !important;
}

.fs-d4 {
  font-size: 2.6600198805rem;
}

.gap-d4 {
  --gap: 2.6600198805rem !important;
}

.fs-d3 {
  font-size: 3.0590228625rem;
}

.gap-d3 {
  --gap: 3.0590228625rem !important;
}

.fs-d2 {
  font-size: 3.5178762919rem;
}

.gap-d2 {
  --gap: 3.5178762919rem !important;
}

.fs-d1 {
  font-size: 4.0455577357rem;
}

.gap-d1 {
  --gap: 4.0455577357rem !important;
}

.fs-d0 {
  font-size: 4.6523913961rem;
}

.gap-d0 {
  --gap: 4.6523913961rem !important;
}

.fs-d00 {
  font-size: 5.3502501055rem;
}

.gap-d00 {
  --gap: 5.3502501055rem !important;
}

h1 {
  font-size: 2.0113571875rem;
}

h2 {
  font-size: 1.74900625rem;
}

h3 {
  font-size: 1.520875rem;
}

h4 {
  font-size: 1.3225rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.8695652174rem;
}

.text-center {
  text-align: center;
}